AndroidDiamond RCDATA "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\14.0\\Styles\\Premium\\FireMonkey Premium Style Pack XE6\\Android\\AndroidDiamond.style"
iOSDiamond RCDATA "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\14.0\\Styles\\Premium\\FireMonkey Premium Style Pack XE6\\iOS\\iOSDiamond.style"
Resource_1 RCDATA "C:\\Users\\Public\\Documents\\Embarcadero\\Studio\\14.0\\Styles\\Premium\\FireMonkey Premium Style Pack XE6\\Win\\Diamond.style"
